.lyt{
	position: relative;
    height: 450px;
    overflow: hidden;
}
.lyt h1{
	font-weight: 300;	
}
.lyt h2{
	
}
.lyt .copy{
	
}
	.lyt .copy p{
		font-size: 1.125em;
		text-align: left;
		margin: .5em
	}
.lyt .button{
}
	.lyt .button a{
		background: none repeat scroll 0 0 rgba(105, 142, 185, 0.75);
		border-radius: 0.25em 0.25em 0.25em 0.25em;
		box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25), 0 10px 9px rgba(255, 255, 255, 0.5) inset, 0 -10px 10px rgba(0, 0, 0, 0.1) inset;
		color: #FFFFFF;
		float: right;
		font-size: 0.875em;
		font-weight: 700;
		margin: 1em;
		padding: 0.5em 1em;

	}
.lyt .imgholder{
	float: right;
	width: 35%;
}
	.lyt .imgholder img{
		max-width: 100%
	}
.lyt .bgimg{
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: bottom;
}
/* Templates */

/* tmpl_1 */

.tmpl_1{
}
	.tmpl_1:after{
		box-shadow: 0 -.5em 1.5em rgba(0, 0, 0, 0.35) inset;
		content: "";
		display: block;
		height: 100%;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 20;
	}
	.tmpl_1 h1{
		background: none repeat scroll 0 0 rgba(255, 255, 255, 0.25);
		box-shadow: 0 0 3em rgba(255, 255, 255, 0.75) inset, 0 0 0.5em rgba(0, 0, 0, 0.15);
		margin: 0;
		padding: 2em 0.5em 8em;
		position: absolute;
		right: 0;
		top: 0;
		width: 55%;
		z-index: 10;
		color: #666;
	}
	.tmpl_1 .copy{
		right: 3%;
		position: absolute;
		top: 9em;
		width: 55%;
		z-index: 10;
	}
		.tmpl_1 .copy p{
			color: #666;
		}
/*
	.tmpl_1 .imgholder{
		float: none;
		pointer-events: none;
		position: relative;
		right: 5em;
		top: -55%;
		width: 110%;
		z-index: 0;
	}
*/

/* tmpl_2 */

.tmpl_2{
}
	.tmpl_2 .copy{
		background: none repeat scroll 0 0 rgba(105, 142, 185, 0.5);
		bottom: 0;
		box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.5), 0 2px 5px rgba(255, 255, 255, 0.15) inset, 0 -6px 9px rgba(0, 0, 0, 0.25) inset;
		color: #FFFFFF;
		padding: 2% 5%;
		position: absolute;
		width: 100%;
		z-index: 1;
	}
	.tmpl_2 h1{
		margin: 0 0;
	}
	.tmpl_2 h2{
	}
	.tmpl_2 .imgholder{
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
	}

/* tmpl_3 */

.tmpl_3{
}

	.tmpl_3 h1{
		margin-bottom: .5em
	}
	.tmpl_3 .copy{
		float: left;
		margin: 0;
		padding: 2em 1.5em;
		width: 45%;
	}
		.tmpl_3 .copy p{
			margin: .5em;
			font-size: 1em;
		}
	.tmpl_3 .imgholder{
		background: url(../img/noise.png) #fafaf9;
	    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.25);
	    float: right;
	    margin: 4% 5%;
	    padding: 3% 3% 9%;
	    width: 42%;
	    border-radius: .25em;
	    position: relative;
	    
		-webkit-transform: rotate(11.25deg);
		-moz-transform: rotate(11.25deg);
		-ms-transform: rotate(11.25deg);
		-o-transform: rotate(11.25deg);
		transform: rotate(11.25deg);
	}
		.tmpl_3 .imgholder img{
			border: 1px solid #CCCCCC;
			display: block;
		}
			.tmpl_3 .imgholder:after{
				box-shadow: 6em 10em 10em rgba(255, 255, 255, 0.5) inset;
				content: "";
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}